1. Import des bibliothèques

In [5]:
import pandas as pd

2. Import des datas

In [6]:
df = pd.read_csv("data.csv")
df

,STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,COU,Pays,SER,Série,TIME_PERIOD,Année,OBS_VALUE,Observation Value,OBS_STATUS,Observation Status,UNIT_MEASURE,Unit of Measures,UNIT_MULT,Multiplier,BASE_PER,Base reference period
0,DATAFLOW,OECD:DF_TEL(1.0),Statistiques sur les télécommunications,I,AUS,Australie,TEL-ACC-LINE,Total des lignes d'accès téléphoniques,2015,NaN,8.490000e+06,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DATAFLOW,OECD:DF_TEL(1.0),Statistiques sur les télécommunications,I,AUS,Australie,TEL-ACC-PATH,Total des voies d'accès de communication,2015,NaN,4.141300e+07,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DATAFLOW,OECD:DF_TEL(1.0),Statistiques sur les télécommunications,I,AUS,Australie,TEL-MOB-SUB,Total des abonnements au téléphone cellulaire ...,2015,NaN,2.616000e+07,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DATAFLOW,OECD:DF_TEL(1.0),Statistiques sur les télécommunications,I,AUS,Australie,TEL-MOB-PP,Abonnements au téléphone cellulaire mobile uti...,2015,NaN,9.255000e+06,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DATAFLOW,OECD:DF_TEL(1.0),Statistiques sur les télécommunications,I,AUS,Australie,TEL-REV-TOT,Total des recettes des télécommunications,2015,NaN,4.191950e+10,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8397,DATAFLOW,OECD:DF_TEL(1.0),Statistiques sur les télécommunications,I,EST,Estonie,TEL-ACC-PATH100,Total des voies d'accès de communication pour ...,1996,NaN,3.524000e+01,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8398,DATAFLOW,OECD:DF_TEL(1.0),Statistiques sur les télécommunications,I,EST,Estonie,TEL-MOB-SUB100,Total des abonnements au téléphone cellulaire ...,1996,NaN,4.240000e+00,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8399,DATAFLOW,OECD:DF_TEL(1.0),Statistiques sur les télécommunications,I,ISR,Israël,TEL-ACC-PATH100,Total des voies d'accès de communication pour ...,1996,NaN,3.490000e+01,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8400,DATAFLOW,OECD:DF_TEL(1.0),Statistiques sur les télécommunications,I,OECD,OCDE - Total,TEL-ACC-PATH100,Total des voies d'accès de communication pour ...,1996,NaN,4.915000e+01,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8401,DATAFLOW,OECD:DF_TEL(1.0),Statistiques sur les télécommunications,I,OECD,OCDE - Total,TEL-MOB-SUB100,Total des abonnements au téléphone cellulaire ...,1996,NaN,1.032000e+01,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print(df.info(),df.describe(),df.head(),df.tail(),df.shape,df.duplicated(),df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8402 entries, 0 to 8401
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   STRUCTURE              8402 non-null   object
 1   STRUCTURE_ID           8402 non-null   object
 2   STRUCTURE_NAME         8402 non-null   object
 3   ACTION                 8402 non-null   object
 4   COU                    8402 non-null   object
 5   Pays                   8402 non-null   object
 6   SER                    8402 non-null   object
 7   Série                  8402 non-null   object
 8   TIME_PERIOD            8402 non-null   int64
 9   Année                  0 non-null      float64
 10  OBS_VALUE              8402 non-null   float64
 11  Observation Value      0 non-null      float64
 12  OBS_STATUS             8402 non-null   object
 13  Observation Status     0 non-null      float64
 14  UNIT_MEASURE           0 non-null      float64
 15  Unit of Measures       0 non-null      float64
 16  UNIT_MULT              0 non-null      float64
 17  Multiplier             0 non-null      float64
 18  BASE_PER               0 non-null      float64
 19  Base reference period  0 non-null      float64
dtypes: float64(10), int64(1), object(9)
memory usage: 1.3+ MB
None        TIME_PERIOD  Année     OBS_VALUE  Observation Value  \
count  8402.000000    0.0  8.402000e+03                0.0
mean   2008.048560    NaN  2.149775e+11                NaN
std       6.351508    NaN  2.490442e+12                NaN
min    1996.000000    NaN  0.000000e+00                NaN
25%    2003.000000    NaN  4.120352e+05                NaN
50%    2008.000000    NaN  1.349734e+07                NaN
75%    2014.000000    NaN  1.475048e+09                NaN
max    2018.000000    NaN  5.786433e+13                NaN

       Observation Status  UNIT_MEASURE  Unit of Measures  UNIT_MULT  \
count                 0.0           0.0               0.0        0.0
mean                  NaN           NaN               NaN        NaN
std                   NaN           NaN               NaN        NaN
min                   NaN           NaN               NaN        NaN
25%                   NaN           NaN               NaN        NaN
50%                   NaN           NaN               NaN        NaN
75%                   NaN           NaN               NaN        NaN
max                   NaN           NaN               NaN        NaN

       Multiplier  BASE_PER  Base reference period
count         0.0       0.0                    0.0
mean          NaN       NaN                    NaN
std           NaN       NaN                    NaN
min           NaN       NaN                    NaN
25%           NaN       NaN                    NaN
50%           NaN       NaN                    NaN
75%           NaN       NaN                    NaN
max           NaN       NaN                    NaN     STRUCTURE      STRUCTURE_ID                           STRUCTURE_NAME ACTION  \
0  DATAFLOW  OECD:DF_TEL(1.0)  Statistiques sur les télécommunications      I
1  DATAFLOW  OECD:DF_TEL(1.0)  Statistiques sur les télécommunications      I
2  DATAFLOW  OECD:DF_TEL(1.0)  Statistiques sur les télécommunications      I
3  DATAFLOW  OECD:DF_TEL(1.0)  Statistiques sur les télécommunications      I
4  DATAFLOW  OECD:DF_TEL(1.0)  Statistiques sur les télécommunications      I

   COU       Pays           SER  \
0  AUS  Australie  TEL-ACC-LINE
1  AUS  Australie  TEL-ACC-PATH
2  AUS  Australie   TEL-MOB-SUB
3  AUS  Australie    TEL-MOB-PP
4  AUS  Australie   TEL-REV-TOT

                                               Série  TIME_PERIOD  Année  \
0             Total des lignes d'accès téléphoniques         2015    NaN
1           Total des voies d'accès de communication         2015    NaN
2  Total des abonnements au téléphone cellulaire ...         2015    NaN
3  Abonnements au téléphone cellulaire mobile uti...         2015    NaN
4          Total des recettes des télécommunications         2015    NaN

      OBS_VALUE  Observation Value OBS_STATUS  Observation Status  \
0  8.490000e+06                NaN          A                 NaN
1  4.141300e+07                NaN          A                 NaN
2  2.616000e+07                NaN          A                 NaN
3  9.255000e+06                NaN          A                 NaN
4  4.191950e+10                NaN          A                 NaN

   UNIT_MEASURE  Unit of Measures  UNIT_MULT  Multiplier  BASE_PER  \
0           NaN               NaN        NaN         NaN       NaN
1           NaN               NaN        NaN         NaN       NaN
2           NaN               NaN        NaN         NaN       NaN
3           NaN               NaN        NaN         NaN       NaN
4           NaN               NaN        NaN         NaN       NaN

   Base reference period
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN        STRUCTURE      STRUCTURE_ID                           STRUCTURE_NAME  \
8397  DATAFLOW  OECD:DF_TEL(1.0)  Statistiques sur les télécommunications
8398  DATAFLOW  OECD:DF_TEL(1.0)  Statistiques sur les télécommunications
8399  DATAFLOW  OECD:DF_TEL(1.0)  Statistiques sur les télécommunications
8400  DATAFLOW  OECD:DF_TEL(1.0)  Statistiques sur les télécommunications
8401  DATAFLOW  OECD:DF_TEL(1.0)  Statistiques sur les télécommunications

     ACTION   COU          Pays              SER  \
8397      I   EST       Estonie  TEL-ACC-PATH100
8398      I   EST       Estonie   TEL-MOB-SUB100
8399      I   ISR        Israël  TEL-ACC-PATH100
8400      I  OECD  OCDE - Total  TEL-ACC-PATH100
8401      I  OECD  OCDE - Total   TEL-MOB-SUB100

                                                  Série  TIME_PERIOD  Année  \
8397  Total des voies d'accès de communication pour ...         1996    NaN
8398  Total des abonnements au téléphone cellulaire ...         1996    NaN
8399  Total des voies d'accès de communication pour ...         1996    NaN
8400  Total des voies d'accès de communication pour ...         1996    NaN
8401  Total des abonnements au téléphone cellulaire ...         1996    NaN

      OBS_VALUE  Observation Value OBS_STATUS  Observation Status  \
8397      35.24                NaN          A                 NaN
8398       4.24                NaN          A                 NaN
8399      34.90                NaN          A                 NaN
8400      49.15                NaN          A                 NaN
8401      10.32                NaN          A                 NaN

      UNIT_MEASURE  Unit of Measures  UNIT_MULT  Multiplier  BASE_PER  \
8397           NaN               NaN        NaN         NaN       NaN
8398           NaN               NaN        NaN         NaN       NaN
8399           NaN               NaN        NaN         NaN       NaN
8400           NaN               NaN        NaN         NaN       NaN
8401           NaN               NaN        NaN         NaN       NaN

      Base reference period
8397                    NaN
8398                    NaN
8399                    NaN
8400                    NaN
8401                    NaN   (8402, 20) 0       False
1       False
2       False
3       False
4       False
        ...
8397    False
8398    False
8399    False
8400    False
8401    False
Length: 8402, dtype: bool STRUCTURE                   0
STRUCTURE_ID                0
STRUCTURE_NAME              0
ACTION                      0
COU                         0
Pays                        0
SER                         0
Série                       0
TIME_PERIOD                 0
Année                    8402
OBS_VALUE                   0
Observation Value        8402
OBS_STATUS                  0
Observation Status       8402
UNIT_MEASURE             8402
Unit of Measures         8402
UNIT_MULT                8402
Multiplier               8402
BASE_PER                 8402
Base reference period    8402
dtype: int64

In [8]:
for i in range(len(df.columns)):
  print(df.columns[i])
  print(df.iloc[:,i].unique(),end = '\n\n\n')


  #sert a rien : STRUCTURE,STRUCTURE_ID,STRUCTURE_NAME,ACTION,Année,Observation Value,OBS_STATUS,Observation Status,UNIT_MEASURE,
  # Unit of Measures,UNIT_MULT,Multiplier,BASE_PER,Base reference period

  # question pour les colonnes SER et Série : SER = diminutif de Série ???

STRUCTURE
['DATAFLOW']


STRUCTURE_ID
['OECD:DF_TEL(1.0)']


STRUCTURE_NAME
['Statistiques sur les télécommunications']


ACTION
['I']


COU
['AUS' 'AUT' 'BEL' 'CAN' 'CZE' 'DNK' 'FIN' 'FRA' 'DEU' 'GRC' 'HUN' 'ISL'
 'IRL' 'ITA' 'JPN' 'KOR' 'LUX' 'MEX' 'NLD' 'NZL' 'NOR' 'POL' 'PRT' 'SVK'
 'ESP' 'SWE' 'CHE' 'TUR' 'GBR' 'USA' 'CHL' 'COL' 'EST' 'ISR' 'LVA' 'LTU'
 'SVN' 'OECD']


Pays
['Australie' 'Autriche' 'Belgique' 'Canada' 'Tchéquie' 'Danemark'
 'Finlande' 'France' 'Allemagne' 'Grèce' 'Hongrie' 'Islande' 'Irlande'
 'Italie' 'Japon' 'Corée' 'Luxembourg' 'Mexique' 'Pays-Bas'
 'Nouvelle-Zélande' 'Norvège' 'Pologne' 'Portugal' 'République slovaque'
 'Espagne' 'Suède' 'Suisse' 'Türkiye' 'Royaume-Uni' 'États-Unis' 'Chili'
 'Colombie' 'Estonie' 'Israël' 'Lettonie' 'Lituanie' 'Slovénie'
 'OCDE - Total']


SER
['TEL-ACC-LINE' 'TEL-ACC-PATH' 'TEL-MOB-SUB' 'TEL-MOB-PP' 'TEL-REV-TOT'
 'TEL-REV-USD' 'TEL-INV-TOT' 'TEL-INV-USD' 'TEL-VOIP-SUB' 'TEL-CATV-SUB'
 'TEL-ACC-PATH100' 'TEL-MOB-SUB100']


Série
["Total des lignes d'accès téléphoniques"
 "Total des voies d'accès de communication"
 'Total des abonnements au téléphone cellulaire mobile'
 'Abonnements au téléphone cellulaire mobile utilisant des cartes prépayés'
 'Total des recettes des télécommunications'
 'Total des recettes des télécommunications USD'
 'Investissements totaux dans les télécommunications (pour lignes fixes et réseau mobile cellulaire)'
 'Investissements totaux dans les télécommunications (pour lignes fixes et réseau mobile cellulaire) USD'
 'Total Internet Protocol (IP) telephone subscriptions'
 'Nombre d’abonnés à la télévision par câble'
 "Total des voies d'accès de communication pour 100 habitants"
 'Total des abonnements au téléphone cellulaire mobile pour 100 habitants']


TIME_PERIOD
[2015 2016 2017 2013 2014 2012 2018 2011 2010 2009 2008 2007 2006 2005
 2004 2003 2002 2001 2000 1999 1998 1997 1996]


Année
[nan]


OBS_VALUE
[8.4900e+06 4.1413e+07 2.6160e+07 ... 3.4900e+01 4.9150e+01 1.0320e+01]


Observation Value
[nan]


OBS_STATUS
['A']


Observation Status
[nan]


UNIT_MEASURE
[nan]


Unit of Measures
[nan]


UNIT_MULT
[nan]


Multiplier
[nan]


BASE_PER
[nan]


Base reference period
[nan]

In [14]:
#suppression des colonnes inutiles :

df.drop(columns=["STRUCTURE","STRUCTURE_ID","STRUCTURE_NAME","ACTION","Année","Observation Value","OBS_STATUS",
                 "Observation Status","UNIT_MEASURE","Unit of Measures","UNIT_MULT","Multiplier","BASE_PER",
                 "Base reference period"])

,COU,Pays,SER,Série,TIME_PERIOD,OBS_VALUE
0,AUS,Australie,TEL-ACC-LINE,Total des lignes d'accès téléphoniques,2015,8.490000e+06
1,AUS,Australie,TEL-ACC-PATH,Total des voies d'accès de communication,2015,4.141300e+07
2,AUS,Australie,TEL-MOB-SUB,Total des abonnements au téléphone cellulaire ...,2015,2.616000e+07
3,AUS,Australie,TEL-MOB-PP,Abonnements au téléphone cellulaire mobile uti...,2015,9.255000e+06
4,AUS,Australie,TEL-REV-TOT,Total des recettes des télécommunications,2015,4.191950e+10
...,...,...,...,...,...,...
8397,EST,Estonie,TEL-ACC-PATH100,Total des voies d'accès de communication pour ...,1996,3.524000e+01
8398,EST,Estonie,TEL-MOB-SUB100,Total des abonnements au téléphone cellulaire ...,1996,4.240000e+00
8399,ISR,Israël,TEL-ACC-PATH100,Total des voies d'accès de communication pour ...,1996,3.490000e+01
8400,OECD,OCDE - Total,TEL-ACC-PATH100,Total des voies d'accès de communication pour ...,1996,4.915000e+01
8401,OECD,OCDE - Total,TEL-MOB-SUB100,Total des abonnements au téléphone cellulaire ...,1996,1.032000e+01